!!!
%html
  %head
    %link{:rel => "stylesheet", :type => "text/css", :href => "scss/resume.css"}
  %body
    .top-header
      .name
        Channing Conger
      .subheader
        .email
          cconger@gmail.com
        .address
          1280 Lawrence Station Rd Sunnyvale, CA 94049
        .phone
          (650) 262 0112
    .subsection
      .title
        Education
      .entry
        .header
          .name
            Northeastern University
          .location
            Boston, MA
          .dates
            2006-2010
        .position
          Bachelor of Science in Computer Science and Information Science
        .offsetList
          Honors
          .item
            GPA 3.6/4.0
          .item
            Deans List 2006-2010
          .item
            Named One of Top 100 Influential Seniors
          .item
            Received one of sixteen 2010 Outstanding Co-op Awards
          .item
            First Place in 2010 National Collegiate Cyber Defence Competition
    .subsection
      .title
        Work Experience
      .entry
        .header
          .name
            Rockmelt Inc
          .location
            Mountain View, CA
          .dates
            November 2010 - Present
        .position
          Software Engineer
        .tidbits
          .tidbit
            Prototyped, Designed and was Lead Engineer on Rockmelt's web application.
          .tidbit
            Evaluated libraries and reverse engineered performance limitations.
      .entry
        .header
          .name
            Hun Management
          .location
            San Francisco, CA
          .dates
            July - November 2010
        .position
          Platform Engineer
        .tidbits
          .tidbit
            Tasked with optimizing and refactoring the existing C++ trading platform code.
          .tidbit
            Suppored the trading staff in usage of the platform.
          .tidbit
            Reverse Engineered remote service implementations to optimize timings.
          .tidbit
            Moved trading platform into managed source control (Git)
      .entry
        .header
          .name
            Microsoft Corp
          .location
            Issaquah, WA
          .dates
            January - June 2009
        .position
          Software Development Engineer Intern
        .tidbits
          .tidbit
            Developed the User Interface for a Client/Server platform tool for remotely managing environment variables.
          .tidbit
            Designed, Developed and Deployed a ASP.NET and WCF powered web application for managing subscriptions.
          .tidbit
            Bridged three separate teams and their services to create the above unified subscription manager.
          .tidbit
            Contributed to software services on a high volume concurrency messaging platform developed in MSIT.
          .tidbit
            Maintained our team's 50+ server development and test laboratory.
      .entry
        .header
          .name
            Google Inc
          .location
            Pheonix, AZ
          .dates
            January - August 2008
        .position
          IT Field Technician
        .tidbits
          .tidbit
            Designed and deployed award-winning prototype chat-bot for automation in the Field Tech organization.
          .tidbit
            Contributed to a Ruby on Rails application for indexing and registration of internal applications.
          .tidbit
            Supported engineering and sales offices in the Southwest Region of the US both remotely and locally.
          .tidbit
            Consulted with engineers on second tier support issues, identifying requirements and implementing solutions.
          .tidbit
            Prototyped a Ruby on Rails contact application for maintaining variable friendship admittance to personal data.
      .entry
        .header
          .name
            Fisher Investments
          .location
            Woodside, CA
          .dates
            August - September 2007
        .position
          IT Associate
        .tidbits
          .tidbit
            Rotated through various positions in the IT department to expand knowledge and experience.
          .tidbit
            Supported the business as a service desk technician.
          .tidbit
            Designed the roll out of a MS Team Foundation Server for our application development teams.
          .tidbit
            Provided support for servers via the Microsoft Operations Manager Console and WSUS.
      .entry
        .header
          .name
            Crystal Springs Uplands School
          .location
            Hillsborough, CA
          .dates
            Summers 2004, 2005, 2006
        .position
          Desktop Support Intern
        .tidbits
          .tidbit
            Provided support to faculty and staff business departments on all technology issues.
          .tidbit
            Maintained campus email and data storage servers.
          .tidbit
            Directed and trained two subordinates during my third summer.
    .subsection
      .title
        Domain Skills
      .skill-section
        .name
          Languages
        .entries
          .entry
            JavaScript
          .entry
            Go
          .entry
            C++
          .entry
            Java
          .entry
            Python
          .entry
            Ruby

