body {
  width: 900px;
  margin: 30px auto 100px auto;
  padding: 0;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
}

div {
  margin: 0;
  padding: 0;
}

.top-header {
  border-bottom: solid thin black;
  text-align: center;

  .name {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }

  .subheader {
    position: relative;

    .email {
      position: absolute;
      left: 0;
      bottom: 0;
    }

    .address {
      text-align: center;
    }

    .phone {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}

.subsection {
  margin-top: 30px;


  .title {
    font-size: 24px;
    font-weight: bold;
    color: #AAAAAA;
  }

  .entry {
    margin-bottom: 20px;

    .header {
      position: relative;

      .name {
        display: inline-block;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
      }

      .location {
        display: inline-block;
        font-size: 14px;
        padding: 0 8px;
      }
      
      .dates {
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 14px;
      }
    }

    .offsetList {
      .name {
        font-weight: bold;
        width: 100px;
        float: left;
      }
      .items {
        display: inline-block;
      }
    }

    .position {
      padding-left: 15px;
      font-style: italic;
    }

    .tidbits {
      padding-left: 15px;

      .tidbit {
        padding-left: 15px;
      }
    }
  }
}

.skill-section {
  .name {
    font-weight: bold;
    display: inline-block;
    width: 100px;
  }
  .entries {
    display: inline-block;

    .entry {
      display: inline-block;
      margin: 0 2px;

      &:first-child {
        &:before {
          display: none;
        }
      }

      &:before {
        content: "|";
        display: inline-block;
        color: #999999;
        margin: 0 4px 0 0;
        padding: 0;
      }
    }
  }
}

